html, body {

    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

}

/* block text selection */

* {

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

}

/* use flexbox for horizontal positioning (replaces floating used in earlier versions) */
header, footer, li {

    display: flex;

}

.button {
    height: 30px;
    width: 30px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    background-origin: content-box;
    background-position: center center;
    filter: invert(90%);
    -webkit-filter: invert(90%);
}

/* ########## HEADER ############# */

header {

    height: 50px;
    width: 100%;
    max-width: 100%;
    line-height: 50px;
    border-bottom: 5px solid gray;
    position: fixed;
    background-color: white;
    overflow: hidden;
    z-index: 500;

}

header h2 {

    margin: 0px;
    font-weight: normal;
    display: inline-block;
    text-transform: uppercase;

}

.changeCss {
    position: fixed;
    right: 0px;
}

.burger {

    background-image: url("./img/glyphicons/png/glyphicons-157-show-thumbnails");
    justify-content: flex-end;
    margin-left: auto;

}

.tile {

    background-image: url("./img/glyphicons/png/glyphicons-115-list.png");
    justify-content: flex-end;
    margin-left: auto;
}

.new-item {

    background-image: url("./img/glyphicons/png/glyphicons-433-plus.png");
    /*float: right;*/
    justify-content: flex-end;
    margin-left: auto;

}

/* ########## END HEADER ############# */



/* #############  FOOTER ##################### */

.refresh{
    background-image: url("./img/glyphicons/png/glyphicons-82-refresh.png");
    background-size: 23px 30px;
    float: right;
    justify-content: flex-start;
}

.loggout{
    background-image: url("./img/glyphicons/png/glyphicons-388-log-out.png");
    background-size: 23px 30px;
    justify-content: flex-start;
}

footer {

    margin: 0px;
    font-weight: normal;
    display: inline-block;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    max-width: 100%;
    line-height: 50px;
    border-top: 1px solid orange;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background-color: white;

}
/* ##############  END FOOTER  ################ */






.listeners-active .toggle-listeners {

    background-image: url("./img/glyphicons/png/glyphicons-560-mic-mute.png");
    background-size: 23px 30px;
    /*float: left;*/
    justify-content: flex-start;

}

.toggle-listeners {

    background-image: url("./img/glyphicons/png/glyphicons-301-microphone.png");
    background-size: 23px 30px;
    /*float: left;*/
    justify-content: flex-start;

}

.listeners-active .toggle-list {

    background-image: url("./img/glyphicons/png/glyphicons-517-menu-hamburger.png");
    background-size: 23px 30px;
    /*float: left;*/
    justify-content: flex-start;

}

.new-item {

    background-image: url("./img/glyphicons/png/glyphicons-433-plus.png");
    /*float: right;*/
    justify-content: flex-end;
    margin-left: auto;

}

.edit-item {

    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("./img/glyphicons/png/glyphicons-31-pencil.png");
    /*float: right;*/
    justify-content: flex-end;
    margin-left: auto;

}

/* main part of the view */

.maincontent {
    position: absolute;
    border-top: 2px solid;    
  
    top: 60px;
    width: 100%;
    max-width: 100%;
    height: calc(100% - (50px));
    height: -webkit-calc(100% - 50px);
    max-height: calc(100% - 50px);
    max-height: -webkit-calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;

}

/* list and list items */

ul {
    margin: 0px;
    list-style: none;
    padding: 0px;      
     

}

li {
     float: left;
      border: 1px solid grey ;
      margin: 5px;
      width: 200px;
      height: 200px;
  
}
li img{

    width: 100%;
    height: 100%;


}


li h1{

visibility: hidden;

    
}

li p:nth-last-child(2){
visibility: hidden;

}


li p {

visibility: hidden;
  
}

li:first-child {
  
    /*border-top: 5px solid grey; */

}

/* disabled elements */

[disabled] {

    opacity: 0.5;

}

/* selected elements */

li:active, .button:active  {

    opacity: 0.1;

}

/* toast */

.toast {

    width: 60%;
    position: fixed;
    text-align: center;
    bottom: 15%;
    left: 20%;
    opacity: 0.0;
    transition: opacity 0.5s, background-color 0.5s;
    transition-delay: 0.5s;

}



.toast.shown {

    opacity: 1.0;
    /*transition-delay: 0s;*/
    transition: opacity 1s, background-color 1s;

}

footer {

      position: absolute;
      border-top: 1px solid;
      width: 100%;
      max-width: 100%;
      bottom: 60px;
  
}

footer h2 {

    margin: 0px;
    font-weight: normal;
    display: inline-block;
    text-transform: uppercase;

}


